@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 218, 80%, 98%;
    --foreground: 220, 45%, 24%;
    --muted: 220 39% 92%;
    --muted-foreground: 220 13% 27%;
    --popover: 220 44% 100%;
    --popover-foreground: 220 67% 0%;
    --card: 0 0% 99%;
    --card-foreground: 0 0% 0%;
    --border: 219, 67%, 80%;
    --input: 220 2% 93%;
    --primary: 220 66% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 7% 91%;
    --secondary-foreground: 220 7% 31%;
    --accent: 220, 45%, 24%;
    --accent-foreground: 220 13% 22%;
    --destructive: 0 86% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 231, 10%, 75%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 43% 4%;
    --foreground: 220 16% 99%;
    --muted: 220 39% 8%;
    --muted-foreground: 220 13% 73%;
    --popover: 220 43% 4%;
    --popover-foreground: 220 16% 99%;
    --card: 220 43% 5%;
    --card-foreground: 0 0% 100%;
    --border: 220 2% 13%;
    --input: 220 2% 13%;
    --primary: 220 66% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 7% 9%;
    --secondary-foreground: 220 7% 69%;
    --accent: 220 13% 16%;
    --accent-foreground: 220 13% 76%;
    --destructive: 0 86% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 220 66% 58%;
  }
}

html,
body,
#root {
  height: 100%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
h1,
h2,
h3,
h4,
h5,
button,
a {
  font-family: "Inter Tight", sans-serif;
}
p {
  font-family: "Inter", sans-serif;
}
.text-blue-gradient {
  background-image: linear-gradient(
    140deg,
    hsl(220deg 65% 62%) 0%,
    hsl(246deg 64% 71%) 39%,
    hsl(276deg 63% 70%) 59%,
    hsl(307deg 68% 70%) 72%,
    hsl(324deg 100% 74%) 81%,
    hsl(334deg 100% 74%) 87%,
    hsl(349deg 100% 75%) 92%,
    hsl(10deg 100% 74%) 96%,
    hsl(27deg 100% 68%) 98%,
    hsl(39deg 100% 62%) 99%,
    hsl(49deg 100% 55%) 100%,
    hsl(56deg 100% 51%) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.border-blue-gradient {
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(
        140deg,
        hsl(220deg 65% 62%) 0%,
        hsl(246deg 64% 71%) 39%,
        hsl(276deg 63% 70%) 59%,
        hsl(307deg 68% 70%) 72%,
        hsl(324deg 100% 74%) 81%,
        hsl(334deg 100% 74%) 87%,
        hsl(349deg 100% 75%) 92%,
        hsl(10deg 100% 74%) 96%,
        hsl(27deg 100% 68%) 98%,
        hsl(39deg 100% 62%) 99%,
        hsl(49deg 100% 55%) 100%,
        hsl(56deg 100% 51%) 100%
      )
      border-box;
  border: 4px solid transparent;
}
